{% extends "layout.html" %}
{% block content %}
<!DOCTYPE HTML>
<html>
	<div class="container">
		<div class="col-md-12" >
			<div class="box1" >
				<h2 id="general-information-driving" title="general-information-driving">General Information for Driving</h2>
				<span>It’s impossible to look at American commuting habits and not report the obvious: Americans are still largely dependent on the automobile. 
					Almost 76 percent of Americans drive alone to work every day, while another 8.9 percent carpool with someone else.</span>
				<br> </br>
				<span>
					Considering that ACS counted 150 million workers in 2019, that’s at least 115 million cars and trucks 
					hitting American streets every day. It’s no wonder congestion is so pervasive during morning and afternoon rush hours.
				</span>
				<br> </br>
				<body>
					<div id="piechart" style="width: auto; height: 350px;"></div>
				</body>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="col-md-12" >
			<div class="box1" >
				<h2 id="travel-time" title="travel-time">Travel Times</h2>
				<span>A majority of American (62.7%) access their jobs in less than 30 minutes, including teleworkers. 
				Despite the considerable media attention, only 9.3% are “super-commuters, “who travel for more than an hour one-way to work </span>
				<br> </br>
				<body>
					<div id="piechartTravel" style="width: auto; height: 350px;"></div>
				</body>
				<br></br>
				<span>
					Among those accessing work in less than 30 minutes, 75.3% drive alone, 9.1% are teleworkers, 8.3% car pool, 3.8% walk and only 1.4% use transit
				</span>
				<br> </br>
				<body>
					<div id="piechartJourney30" style="width: auto; height: 350px;"></div>
				</body>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="col-md-12" >
			<div class="box1" >
				<h2 id="commute-to-sac-state" title="commute-to-sac-state">Commute to Sac State</h2>
				<span>
					Most of Sac State's students reside and work in the city of Sacramento, so they can take about 15-20 mins to get school. However, many other students come from other cities, like Stockton, Manteca, Modesto, Tracy, etc. Therefore, they may take more than 45 mins to commute to Sac State.
				</span>
				<br></br>
				<span> <strong>Below is a comparison table of the student's commute</strong></span>
				
				<table class="table table-striped table-bordered table-resizable">
					<thead>
					   <tr>
						  <th style="width: 250px;"></th>
						  <th class="text-center" style="width: 250px;">Driving</th>
						  <th class="text-center" style="width: 250px;">Electric Car <br>(Tesla Model S) </br></th>
					   </tr>
					</thead>
					<tbody>
						<tr>
							<td>Parking permit*</td>
							<td class="text-center"> $7/daily <br></br> $178/semester</td>
							<td class="text-center"> $7/daily <br></br> $178/semester</td>
						</tr>
						<tr>
							<td>Ave. Insurance**</td>
							<td class="text-center"> $120/month <br></br> $1,400/year</td>
							<td class="text-center"> $137/month <br></br> $1,645/year</td>
						</tr>	

						<tr>
							<td>Maintenance***</td>
							<td class="text-center"> $100-$350/ year </td>
							<td class="text-center"> ~ $298/ year </td>
						</tr>
						<tr>
							<td>Average Fuel Consumption</td>
							<td class="text-center"> 25.4 MPG</td>
							<td class="text-center"> 0 </td>
						</tr>
						<tr>
							<td>Cost****</td>
							<td class="text-center"> $16/100 miles</td>
							<td class="text-center"> $4.40/100 miles </td>
						</tr>
						<tr>
							<td>CO2 Emissions</td>
							<td class="text-center"> 10,664.4 g/ 30mi</td>
							<td class="text-center"> 0</td>
						</tr>	
					</tbody>
				</table>
				<span> <strong>More information: </strong><span>
				  <br>* Parking permits fee:   <a href="https://www.csus.edu/parking-transportation/parking/permit-pricing.html"> Click here</a></br>
				  ** Average Cost of Insurance:   <a href="https://www.myev.com/research/buyers-sellers-advice/5-cheapest-evs-to-insure-for-2018#:~:text=About%20average%2C%20according%20to%20a,among%20all%20vehicles%20at%20%241%2C645."> Click here</a>
				  <br>*** Maintenance fee:   <a href="https://www.motor1.com/reviews/406938/tesla-maintenance-cost/"> Click here</a></br>
				  **** Cost:   <a href="https://www.solarreviews.com/blog/how-much-does-it-cost-to-charge-a-tesla-is-it-the-same-as-the-cost-to-charge-other-electric-vehicles"> Click here</a>
				
				</div>
		</div>
	</div>

	<div class="container">
		<div class="col-md-12" >
			<div class="box1" >
				<h2 id="parking-direct" title="parking-direct">Parking And Directions </h2>
				<span>Daily/hourly permits are valid for Student/Daily spaces only during Peak hours (M-F 4:30am-4:30pm during Fall and Spring semesters). 
				 </span>
				 <br></br>
				 <span>After 4:30 p.m., daily permits are also valid in Faculty/Staff spots.</span>
				<br> </br>
				<div id="buttoncenter">
					<input id="button" type="button" onclick="location.href='https://www.csus.edu/administration-business-affairs/hornet-tickets/parking-and-directions.html';" value="More information" />
				</div>
			</div>
		</div>
	</div>
	<br></br>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
		  ['Mode', 'Percentage'],
			['Drive alone',     75.9],
			['Carppoled',      8.9],
			['Public transit',  5.0],
			['Walked',    2.6],
			['Worked from home', 5.7],
			['Other', 1.9]
        ]);

        var options = {
          title: 'Share of All Commuters by Mode 2019'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));
        chart.draw(data, options);

		var windowResizeTimer;
		window.addEventListener('resize', function(e){
    	clearTimeout(windowResizeTimer);
    	windowResizeTimer = setTimeout(function(){
        chart.draw(data, options);
    	}, 100);});
      }
	</script>	
	
	<script type="text/javascript">
		google.charts.load('current', {'packages':['corechart']});
		google.charts.setOnLoadCallback(drawChart);
  
		function drawChart() {
		  var data = google.visualization.arrayToDataTable([
		  ['Duration', 'Percentage'],
		  ['0 < 30 mins',     62.7],
		  ['30 - 45 mins',      20.0],
		  ['45 - 60 mins',  8.1],
		  ['Over 60 mins',    9.3]
			  ]);
  
		  var options = {
			title: 'Average One-Way Commute Times 2019'
		  };
  
		  var chart = new google.visualization.PieChart(document.getElementById('piechartTravel'));
		  chart.draw(data, options);
  
		  var windowResizeTimer;
		  window.addEventListener('resize', function(e){
		  clearTimeout(windowResizeTimer);
		  windowResizeTimer = setTimeout(function(){
		  chart.draw(data, options);
		  }, 100);});
		}
	  </script>	

<script type="text/javascript">
	google.charts.load('current', {'packages':['corechart']});
	google.charts.setOnLoadCallback(drawChart);

	function drawChart() {
	  var data = google.visualization.arrayToDataTable([
	  ['Mode', 'Percentage'],
			['Drive alone',     75.3],
			['Carpooled',      8.3],
			['Public transit',  1.4],
			['Walked',    3.8],
			['Worked from home', 9.1],
			['Other', 2.0]
	  ]);

	  var options = {
		title: 'Travel Time < 30 mins: 2019'
	  };

	  var chart = new google.visualization.PieChart(document.getElementById('piechartJourney30'));
	  chart.draw(data, options);

	  var windowResizeTimer;
	  window.addEventListener('resize', function(e){
	  clearTimeout(windowResizeTimer);
	  windowResizeTimer = setTimeout(function(){
	  chart.draw(data, options);
	  }, 100);});
	}
  </script>	
	
<style>
td {
	max-width: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
#buttoncenter {
	text-align: center;
	display: block;
	margin: 0 auto;
}	

</style>

</html>

{% endblock %}
