{% extends "layout.html" %}
{% block content %}

<div class="container">
    <div class="col-md-12">
        <div class="box1">
            <h2 id="general-information-personal-transportation" title="general-information-personal-transportation">General Information for Personal Transportation</h2>
            <p>Personal transport would consist of walking or riding your bicycle to campus. Of course, doing so is not feasible over long distance routes.</p>
            <p>
                However, if you live close to campus or in the dorms, walking/biking to campus would provide many benefits not only to yourself, but
                also the environment. Walking/biking to campus also provides you the opportunity to get some exercise.
            </p>
        </div>
    </div>
</div>

<div class="container">
    <div class="col-md-12">
        <div class="box1">
            <h2 id="costs-personal-transportation" title="costs-personal-transportation">Costs</h2>
            <p>The only costs associated with personal transportation would be the cost of buying a bike and the maintenance that is associated with it.</p>
            <p>
                The cost of a bicycle can start as low as $100 and can go higher than $1,000. It depends on the type of bicycle,
                its condition (new, used, etc.), where you buy it from, and additional warranties. It's also important to take
                maintenance into account. Mountain bikes cost more to maintain than regular road bikes.
            </p>
            <p>
                Maintenance fees will vary based on the kind of bike you ride, how you treat the bike, whether you get it serviced
                from a shop or DIY it, and more. However, you do save lots of money that would otherwise be spent on gas. Here is a
                table that compares some estimated costs of maintenance for each kind of bicycle. 
            </p>
            
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Maintenance Fees</th>
                    <th scope="col">Road Bike</th>
                    <th scope="col">Mountain Bike</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">Tires</th>
                    <td>$50</td>
                    <td>$100</td>
                  </tr>
                  <tr>
                    <th scope="row">Chains</th>
                    <td>$35</td>
                    <td>$35</td>
                  </tr>
                  <tr>
                    <th scope="row">Cables/housing</th>
                    <td>$10</td>
                    <td>$25</td>
                  </tr>
                  <tr>
                    <th scope="row">Suspension Servicing</th>
                    <td>$0</td>
                    <td>$300</td>
                  </tr>
                  <tr>
                    <th scope="row">Cleats</th>
                    <td>$20</td>
                    <td>$20</td>
                  </tr>
                  <tr>
                    <th scope="row">Disc brake pads</th>
                    <td>$20</td>
                    <td>$100 (requires brake bleeding)</td>
                  </tr>
                  <tr>
                    <th scope="row">Miscellaneous consumables</th>
                    <td>$50</td>
                    <td>$50</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>

<div class="container">
    <div class="col-md-12">
        <div class="box1">
            <h2 id="sustainability-personal-transportation" title="sustainability-personal-transportation">Sustainability</h2>
            <p>Of all the possible methods of transportation, waking or biking is the most sustainable for the environment.</p>
            <p>
                Although it may come as a surprise, bicycling does leave a carbon footprint as well. The CO2 emissions of bicycling 
                depend on your diet. A diet that is reliant on meat will leave a higher carbon footprint (about 16g of CO2 for every km,
                which is about 26g per mile). Once again, this will vary depending on the kinds of foods you eat.
            </p>
            <a href="https://www.ourstreetsmpls.org/does_bike_commuting_affect_your_carbon_footprint_and_how_much">More information about your carbon footprint when biking</a>
        </div>
    </div>
</div>

<div class="container">
    <div class="col-md-12">
        <div class="box1">
            <h2 id="travel-routes-personal-transportation" title="travel-routes-personal-transportation">Travel Routes</h2>
            <p></p>
        </div>
    </div>
</div>

<button id="myButton" class="btn btn-primary" onclick="myFunction()">Next</button>

<script>
    function myFunction() {
        location.href='transit';
    }
</script>

<style>
    button {
        float: right;
    }
</style>

{% endblock %}